@using Core

<PageTitle>@ActiveBlog.Title</PageTitle>

<h1>@ActiveBlog.Title</h1>
<div>@ActiveBlog.Topic.ToUpper()</div>
<div>@ActiveBlog.Author.Forename @ActiveBlog.Author.Surname, @ActiveBlog.CreatedDate.ToString("d MMMM yyyy")</div>

@foreach (var element in ActiveBlog.BlogElements)
{
	if (element is IParagraph)
	{
		<p>@(((IParagraph)element).Text)</p>
	}
	else if (element is IPictureLink)
	{
		<img src=@(((IPictureLink)element).Path) title=@(((IPictureLink)element).Caption)
			style="max-height:75%;max-width:75%;" />
		<div style="font-style:italic">@(((IPictureLink)element).Caption)</div>
	}
	else if (element is ITableRegular)
	{
		<TableRegView Table=(ITableRegular)element />
	}
}

@code {
	[Parameter]
	public IBlog ActiveBlog { get; set; }
}
