@using Core

<PageTitle>@ActiveBlog.Title</PageTitle>

<h1>@ActiveBlog.Title</h1>
@ActiveBlog.Author.Forename @ActiveBlog.Author.Surname, @ActiveBlog.CreatedDate.ToString("dd MMMM yyyy")

@foreach (var element in ActiveBlog.BlogElements)
{
	if (element is IParagraph)
	{
		<p>@(((IParagraph)element).Text)</p>
	}
	else if (element is IPictureLink)
	{
		<img src=@(((IPictureLink)element).Path) title=@(((IPictureLink)element).Caption) />
		<div style="font-style:italic">@(((IPictureLink)element).Caption)</div>
	}
}

@code {
	[Parameter]
	public IBlog ActiveBlog { get; set; }
}
