<a class="blog-link" href=@($"blogpage/{BlogKey}")>
	<div class="blog-link-header">@(Blog.Title.ToUpper())</div>
	<div class="blog-link-details">
		@(Blog.Author.Forename) @(Blog.Author.Surname),
		@(Blog.Topic),
		@(Blog.CreatedDate.ToString("d MMMM yyyy"))
	</div>
</a>

@code {
	[Parameter]
	public string BlogKey { get; set; }
	[Parameter]
	public IBlog Blog { get; set; }
}
