@using Core

<PageTitle>@ActiveBlog.Title</PageTitle>

<h1>@ActiveBlog.Title</h1>
@ActiveBlog.Author.Forename @ActiveBlog.Author.Surname, @ActiveBlog.CreatedDate.ToString("dd MMMM yyyy")

@foreach (var element in ActiveBlog.BlogElements)
{
	<p>@(((IParagraph)element).Text)</p>
}

@code {
	[Parameter]
	public IBlog ActiveBlog { get; set; } = Orchestrator.AllBlogs.Values.First();
}
